.boardApplied {
  background-color: #f1f5f9;
  height: 300px;
  margin-top: 20px;
  overflow: auto; /* Enable scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.boardApplied::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
