.search{
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    font-size: 27px;

    background-color: transparent;
}

.search> input{
    outline: none;
    border: none;
    background: none;
    font-size: 16px;
}