.SideBar {
  display: flex;
  flex-direction: column;
  flex: 0.23;
  text-align: center;
  border-radius: 20px;
  border: 0.5px solid white;
  box-shadow: 10px 20px 25px rgba(10, 99, 169, 0.1), -10px -20px 25px rgba(10, 99, 169, 0.1);
}
