.App {
  background-color: #f1f5f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Ensure the App takes at least the full viewport height */
  /* justify-content: center; Center the header vertically if needed */
}
.App_body{
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  width: 77%;
  margin-left: 20px;
  margin-right: 20px;
}